---
---
@import url(//fonts.googleapis.com/css?family=Signika+Negative:300|Exo:200,300,300italic);
@import url(//cdn.jsdelivr.net/npm/fork-awesome@1.1.5/css/fork-awesome.min.css);

body {
	font-family: 'Signika Negative', sans-serif;
	font-weight: 300;
}

#menu, h1, h2, h3, header {
	font-family: 'Exo', sans-serif;
}
