<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=800, initial-scale=1.0">

		<title>Chameleoid</title>

		<style>html, body { background: #2e3436 }</style>
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		<div class="content-wrapper">
			<header>
				<a href="/">Chameleoid</a>
			</header>

			<div id="menu">
				<span id="chameleoid"></span>

				<a href="/" {% if page.name == 'index.md' %}class="active"{% endif %}>Products</a>
        <a href="/conduct" {% if page.name == 'conduct.md' %}class="active"{% endif %}>Code of Conduct</a>
				<a href="/privacy" {% if page.name == 'privacy.md' %}class="active"{% endif %}>Privacy Policy</a>
				<a href="/thanks" {% if page.name == 'thanks.md' %}class="active"{% endif %}>Special Thanks</a>
				<!--<a href="/dmca">DMCA</a>-->
			</div>

			<div class="content"> {{ content }} </div>

			<footer>
				<span class="social">
					<!--<a href="https://twitter.com/chameleoidhq/">
						<i class="fa fa-twitter"></i>
          </a>-->
					<a rel="me" href="https://fosstodon.org/@chameleoid">
						<i class="fa fa-mastodon"></i>
					</a>
					<a rel="me" href="https://github.com/chameleoid/">
						<i class="fa fa-github"></i>
					</a>
					<a rel="me" href="https://gitlab.com/chameleoid/">
						<i class="fa fa-gitlab"></i>
					</a>
					<!--<a href="https://bitbucket.org/chameleoid/">
						<i class="fa fa-bitbucket"></i>
					</a>-->
					<a rel="me" href="https://liberapay.com/chameleoid/">
						<i class="fa fa-liberapay"></i>
					</a>
				</span>

        &copy;2009-{{ site.time | date: '%Y' }} <a href="/">Chameleoid</a>
			</footer>
		</div>

		<link rel="stylesheet" href="/assets/css/fonts.css">
	</body>
</html>
